extends layout

include mixins/_costForm
include mixins/_costListItem

block content
    .inner
        h2 #{title}
        .listitems
            each cost in costs
                    +costListItem(cost)
        if h.isUserManager(user)
            h3= 'Add New T-Shirt Cost'
            +costForm()
