extends layout

include mixins/_ratingForm
include mixins/_milestoneSelector

block content
    .single
        h2.title.title--single
            a(href=`/feature/${feature.slug}`) #{feature.name}

    .single__details.inner
        p.single__description= feature.description
        .single__content
            each workflow in workflows
                .rating__row
                    .rating__workflow #{workflow.name}
                    - const rating = feature.ratings ? feature.ratings.find(function(r) {return (workflow._id.equals(r.workflow)); }) : undefined;
                    +ratingForm(feature, workflow, rating)
                    +milestoneSelector(feature, workflow, milestones, rating)