extends layout

include mixins/_ratingForm
include mixins/_milestoneSelector

block content
    .single
        h2.title.title--single
            a(href=`/feature/${feature.slug}`) #{feature.name}

    .single__details.inner
        p.single__description= feature.description
        .single__content
            each workflow in workflows
                .review__row
                    .review__workflow #{workflow.name}
                    - const review = feature.reviews ? feature.reviews.find(function(r) {return (workflow._id.equals(r.workflow)); }) : undefined;
                    +ratingForm(feature, workflow, review)
                    +milestoneSelector(feature, workflow, milestones, review)