extends layout

include mixins/_featureForm
include mixins/_featureListItem

block content
    .inner
        h2 #{title}
        .listitems
            each feature in features
                    +featureListItem(feature)
        h3= 'Add New Feature'
        +featureForm()
