extends layout

include mixins/_featureForm
include mixins/_featureListItem

block content
    .inner
        h2 #{title}
        .actionbar
            .actionbar__action
                .button.actionbar__action--refresh
                    a(href='/features') Refresh Page
        .listitems
            each feature in features
                +featureListItem(feature, workflows)
        h3= 'Add New Feature'
        +featureForm()
