extends layout

include mixins/_ratingForm

block content
    .single
        h2.title.title--single
            a(href=`/feature/${feature.slug}`) #{feature.name}

    .single__details.inner
        p.single__description= feature.description
        each workflow in workflows
            h5= workflow.name
            .rating__row
                each milestone in milestones
                    - const rating = feature.ratings.find(function(r) {return (r.milestone.toString() === milestone._id.toString() && r.workflow.toString() === workflow._id.toString()); });
                    +ratingForm(feature ,workflow , milestone, rating)