extends layout

include mixins/_workflowForm
include mixins/_workflowListItem

block content
    .inner
        h2 #{title}
        .listitems
            each workflow in workflows
                    +workflowListItem(workflow)
        if h.isUserManager(user)
            h3= 'Add New Workflow'
            +workflowForm()
