mixin commentForm(feature,workflow,review)
    - const comment = review ? review.comment : '';
    textarea.review__comment(name="comment" placeholder="Leave a comment..." data-feature=feature._id data-workflow=workflow._id) #{comment}
