mixin milestoneSelector(feature, workflow, milestones, rating)
    select.rating__milestone(data-feature=feature._id data-workflow=workflow._id)
        each milestone in milestones
            option(label=milestone.name value=milestone._id)
