.featureform {
    display: flex;
    &__col {
        width: 100%;
        &--grp{
            display: flex;
            margin-bottom: 1rem;
            label {
                width: 120px;
                margin-right: 2rem;
                color: #666;
            }
            select {
                width: 200px;
            }
            textarea[readonly]{
                background: #eee;
            }
        }
        &--switch{
            display: flex;
            margin-bottom: 1rem;
            justify-content: space-between;
            .label{
                width: 120px;
                margin-right: 2rem;
                color: #666;
            }
        }
    }
    &__col1 {

    }
    &__col2 {
        margin-left: 8rem;
    }
}