.listitem {
    background: white;
    border-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:before {
        width:5px;
        left: 0;
        content: '';
        display: block;
        background: $verticalGrad;
        position: absolute;
        height: 100%;
        background-attachment: fixed;
    }
    &__rank {
        margin-right: 10px;
        width: 70px;
        height: 20px;
    }
    &__body {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        &--title{
            white-space:pre-wrap;
            font-size: 2rem;
            line-height: 1;
            display: flex;
        }
        &--label {
            font-size: 1.25rem;
            background-color: purple;
            color: white;
            margin-left: 1rem;
            padding: 0.25rem 0.5rem;
            height: 100%;
            font-weight: 300;
            border-radius: 0.25rem;
        }
        &--subtitle,
        &--text{
            white-space:pre-wrap;
            font-size: 1.2rem;
            color: #999;
            line-height: 1;
            padding-top: 5px;
        }
        &--chart {
            display: flex;
            margin-top: 6px;
            .color1 {
                background: #F44336;
            }
            .color2 {
                background: #FF9800;
            }
            .color3 {
                background: #FFD740;
            }
            .color4 {
                background: #CDDC39;
            }
            .color5 {
                background: #4CAF50;
            }
            .color0 {
                background: #BDBDBD;
            }
        }
        &--cell {
            display: flex;
            width: 75px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-right: 3px;
            padding: 2px;
            font-size: x-small;
            
        }
        &--stars {
            color: #333;
            text-align: center;
            width: 100%;
        }

    }
    &__order {
        font-size: 2rem;
        line-height: 1;
        margin-right: 10px;
        color: #999;
        font-style: italic;
    }
    &__meta {
        display: flex;
        align-items: center;
        &--growth {
            font-size: 1.5rem;
            color: grey;
            text-align: right;
            margin-right: 1rem;
            width: 50px;
        }
        &--sentiment {
            font-size: 1.5rem;
            color: grey;
            text-align: right;
            margin-right: 1rem;
        }
        .sentiment1, .sentiment2{ 
            svg{
                fill:#F44336;
            }
        }
        .sentiment3 {
            svg{
                fill:grey;
            }
        }
        .sentiment4, .sentiment5 {
            svg{
                fill:#4CAF50;
            }
        }
    }
    &__actions {
        display: flex;
    }
    &__action {
        display: flex;
        margin-left: 0.5rem;
        position: relative;
        width: 32px;
        padding: 6px;
        svg {
            /*
            fill: #666;
            */
        }
        a {
            width: 32px;
            margin: auto;
            text-align: center;
            font-size: 12px;
        }
        &--button {
            background: none;
            border: 0;
            outline: 0;
            position: relative;
            font-size: 12px;
            svg {
                width: 20px;
            }
            &:after {
                content: '\2665\FE0F';
                font-size: 20px;
                position: absolute;
                opacity: 0;
                top: 0; 
            }
        }
    }
}

.add {
  &__button {
    background: none;
    border: 0;
    outline: 0;
    position: relative;
    svg {
        width: 40px;
        fill: #aaa;
    }
    &--added {
      svg {
        fill: orange;
      }
    }
  }
}
