.subheader {
    display: flex;
    align-items: center;
    margin-top: 40px;
    &__mainAction {
        height: auto;
        padding: 10px;
    }
    &__back {
        margin-right: 10px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 50%;
        background: #fff;
        margin-left: -60px;
        svg {
            fill: #333;
        }
    }
    &__text {
        width: 100%;
        &--title {
            font-size: 3rem;
            font-family: 'Panama';
            font-weight: 600;
            letter-spacing: -1px;
            input[readonly] {
                background: none;
                border: none;
            }
        }
        &--subtitle {
            margin-top: -35px;
            color: #999;
        }
        &--edit {
            width: 30px;
            border-radius: 50%;
            padding:3px;
            margin-left: 10px;
            &:hover{
                border: 1px solid #ccc;
                background-color: white;
            }
        }
    }
}